<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :FirstName, id: :employee_FirstName %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName, id: :employee_LastName %>
  </div>

  <div class="field">
    <%= form.label :Age %>
    <%= form.number_field :Age, id: :employee_Age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
