<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @student.Fname %>
</p>

<p>
  <strong>String:</strong>
  <%= @student.String %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.Lname %>
</p>

<p>
  <strong>String:</strong>
  <%= @student.String %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.Email %>
</p>

<p>
  <strong>String:</strong>
  <%= @student.String %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
